knitwear-app-37e6574c4829.json
data_pipeline/io_config.yaml
ml_engine/centroid_to_pattern_DINO_yolo_pose.pkl
ml_engine/sweater_hnsw_DINO_yolo_pose_multicentroid.bin
ml_engine/features_DINO3_yolo_pose_multicentroid.npy
ml_engine/sweater_hnsw_DINO3_yolo_pose_multicentroid.bin
ml_engine/features_DINO_yolo_pose_multicentroid.npy
ml_engine/sweater_hnsw_DINO_yolo_pose_multicentroid.bin
ml_engine/features_DINO_yolo_pose_multicentroid.npy
ml_engine/features_DINO_yolo_pose_multicentroid.npy
ml_engine/centroid_to_pattern_DINO_yolo_pose.pkl
ml_engine/features_DINO_yolo_pose_multicentroid.npy
ml_engine/pattern_ids_DINO_yolo_pose_multicentroid.pkl
ml_engine/pattern_to_centroids_DINO_yolo_pose_multicentroid.pkl
ml_engine/features_DINO_yolo_pose_multicentroid.npy
ml_engine/pattern_ids_DINO_yolo_pose_multicentroid.pkl
ml_engine/pattern_to_centroids_DINO_yolo_pose_multicentroid.pkl
*.npy
ml_engine/features_DINO_yolo_pose_multicentroid.npy
